<ActionBar title="Change Your Password">
</ActionBar>
<side-drawer-page>
    <GridLayout >
        <StackLayout>


            <GridLayout class="signin_gird" columns="*, *, *,60" rows="60">
                <TextField id="cpassword" [(ngModel)]='current_password' row="0" col="0" colSpan="3" hint="Enter current password"
                           class="signin_password" secure="true"></TextField>
                <Image row="0" col="3" src="res://looking" horizontalAlignment="center" (tap)="togglepassowrdone()"></Image>
            </GridLayout>

            <GridLayout class="signin_gird" columns="*, *, *,60" rows="60">
                <TextField id="npassword1" [(ngModel)]='new_password1' row="0" col="0" colSpan="3" hint="Enter new password"
                           class="signin_password" secure="true"></TextField>
                <Image row="0" col="3" src="res://looking" horizontalAlignment="center" (tap)="togglepassowrdtwo()"></Image>
            </GridLayout>

            <GridLayout class="signin_gird" columns="*, *, *,60" rows="60">
                <TextField id="npassword2" [(ngModel)]='new_password2' row="0" col="0" colSpan="3" hint="Re-enter new password"
                           class="signin_password" secure="true"></TextField>
                <Image row="0" col="3" src="res://looking" horizontalAlignment="center" (tap)="togglepassowrdthree()"></Image>
            </GridLayout>


            <Button text="Change Password" (tap)="changepasswordbtn()" type="submit" id="btn_login" horizontalAlignment="center" ></Button>




        </StackLayout>

    </GridLayout>

</side-drawer-page>
<StackLayout class="forgot" id="forgotpasswordlabel" horizontalAlignment="center" verticalAlignment="center" visibility="collapsed"  >
    <TextField hint="Email address" [(ngModel)]='reset_email' keyboardType="email" autocorrect="false"
               autocapitalizationType="none" required></TextField>
    <
    <GridLayout  columns="*,*">
        <Button text="Reset" col="0" type="submit" id="btn_login" (tap)="onresetbtn()" horizontalAlignment="center" verticalAlignment="bottom" ></Button>
        <Button text="Log in" col="1" type="submit" id="btn_login"(tap)="onresetlogin()" horizontalAlignment="center" verticalAlignment="bottom"></Button>
    </GridLayout>

</StackLayout>