
ActionBar {
    background-color:#e27900;
    color:white;
}

button {
    width: 200;
    height: 50;
    text-align: center;
    font-weight: bold;


}
.forgot{

    width: 98%;
    height: 50%;
    background-color: white;
}
#btn_login {
    background-color: #e27900;
    margin-top: 5%;
    color: white;
    border-width: 1;
    border-color: white;


}
#btn_signup {
    background-color: white;
    margin-top: 5%;
    border-width: 1;
    border-color: #e27900;
    color: #e27900;

}
.label_forgot_password {
    font-weight:bold;
    text-align: center;
    margin-top: 10%;
}
.label_for_or {
    text-align: center;
    margin-top: 5%;
}

TextField {
    margin: 10;
    placeholder-color: #D3D3D3;
}

.signin_password {
    width: 100%;
    placeholder-color: #D3D3D3;
}
.signin_gird {
    margin: 10;
}
TextView {
    text-align:center;
    border:none;
}
TextField:focus {
    border-bottom-color:black;
}

image {
    height: 30;
    width: 30;
}