
ActionBar {
    background-color:#e27900;
    color:white;
}
.addnewdeliveryloc{

    background-color: #e27900;
    color:white;
    font-size:35;
    width: 50;
    text-align: center;
    border-width: 1;
    border-radius: 15;

}
ListView {
     margin:10;
 }
.address {
    font-weight: bold;
    font-size: 14;
    margin: 20,20,0,20;

}
.pcode {
    font-weight: bold;
    margin: 0,20,20,20;

}

.image{
    height: 25;
    width: 25;
    margin: 20,20,20,20;

}