<ActionBar title="About us" class="action-bar">

</ActionBar>


<side-drawer-page>
        <StackLayout>
            <GridLayout class="girdlayoutforabouts" columns="50,*" rows="*,*,*">

                <Image class="image" row="0" col="0" src="res://home"></Image>
                <Label class="textlable" row="0" col="1" text="Contact us about your order"></Label>


                <Image class="image" row="1" col="0" src="res://myorders"></Image>
                <Label class="textlable" row="1" col="1" text="Send us some app feedback"></Label>


                <Image class="image" row="2" col="0" src="res://mydetail"></Image>
                <Label class="textlable" row="2" col="1" text="Rate us on playstore"></Label>


            </GridLayout>


            <Label class="textlable1" text="Terms and conditions"></Label>

            <Label class="textlable1" text="Privacy policy"></Label>
        </StackLayout>
</side-drawer-page>